.header-color, .landing-grid {
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .....//Home-Page//.... */
.landing-grid {
  text-align: center;
  width: 100%;
  height: 100%;
}

.avatar-img {
  width: 250px;
  height: 250px;
  padding-top: 20px;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  margin: auto;
}

.banner-text hr {
  width: 50%;
  border-top: 5px dotted white;
  margin: auto !important;
}

.banner-text p {
  font-size: 12px;
  font-weight: bold;
  margin: auto;
  color: white;
  padding-top: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 60px;
  font-weight: bold;
  padding: 0.5em;
}

.drawer-anchor:hover {
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

/* .......// Projects Page //.... */
.landing-projects {
  display: flex;
  width: 80%;
  margin: auto;
}

/*.....// About PAge //......... */
.about-body {
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-grid {
  text-align: center;
  width: 90%;
  height: auto;
  color: white;
}

.about-grid h3 {
  font-family: 'Audiowide', cursive;
}

.about-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  /* color: White; */
  padding: 2% 20%;
}

.about-grid hr {
  margin: auto !important;
  margin-bottom: 20px !important;
  width: 100%;
  border-top: 5px dotted White;
}

/* ......// Resume Page //....... */
.resume-body {
  background-color: grey;
  width: 100%;
  height: 100%;
  color: white;
}

.resume-grid {
  color: white;
  font-weight: bold;
  width: 90%;
  border: 1px solid red;
  background-color: white;
}

/* .list.*/
.myList {
  padding: 0px !important;
  color: black !important;
  font-weight: bold;
  justify-content: flex-start !important;
}

.resume-sidebar {
  text-align: center;
  background: #833ab4 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.resume-container {
  background: #833ab4 !important;
  padding: 0px 20px;
}

.mdl-cell h2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ProfileName h4 {
  margin-top: 10px !important;
  padding: 0 !important;
}

.ProfileContact p {
  margin-bottom: 2px !important;
}

.mdl-cell ul {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 30px;
}

.mdl-list__item-primary-content, .mdl-list__item-icon {
  color: white;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 66px;
  color: white;
}

.mdl-list__item {
  padding: 0px !important;
}

@media (min-width: 840px) {
  .mdl-grid {
    padding: 0px 8px;
    margin: 0px;
  }
}

.mdl-grid {
  padding: 0px 8px;
}

/* --------------Mobile  Support Sections------------------------------- */
@media only screen and (max-device-width: 480px) {
  body {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  /* Home Page Section */
  .avatar-img {
    width: 200px;
    height: 200px;
    padding-top: 35px;
  }

  .landing-grid {
    text-align: center;
    width: 95%;
    height: 100%;
  }

  .mdl-cell {
    margin: 8px;
    margin-top: 40px;
    width: calc(100% - 16px);
  }

  .landing-grid .banner-text {
    width: 100%;
    border-radius: 5px;
  }

  .banner-text h1 {
    font-size: 33px;
  }

  .banner-text p {
    font-size: 8px;
    font-weight: normal;
    margin: auto;
    color: white;
    padding-top: 1em;
  }

  .social-links a {
    font-size: 12px;
  }

  .mdl-grid {
    margin: 50px auto 0 auto;
  }

  .mdl-cell--12-col, .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
    width: calc(100% - 16px);
    padding: 30px
  }

  /* Resume Page Section  */
  .resume-body {
    margin: 0px !important;
    padding: 0 !important;
    border-color: yellow;
  }

  /* Project Page Section  */
  .projects-tabs {
    margin-top: 60px;
    font-size: 10px !important;
  }

  .landing-projects {
    width: 100%;
  }

  .mdl-card {
    margin: 0px 0px 30px 0px !important;
    width: 100%;
  }

  .mdl-tabs__tab, .mdl-tabs {
    font-size: 9px;
  }

  /* Abot Page Section */
  .mdl-grid .about-grid {
    margin: 40px auto 0 auto;
  }
}